<div class="well">
<%= form_for(@spot) do |f| %>
  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% @spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "spot title..." %><br />
  </div>
  <div class="field">
	<%= f.label :description %>
    <%= f.text_area :description, placeholder: "optional spot description...", class: "span4", :rows => 3 %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image, placeholder: "http://example.com/yourimage..."%><br />
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: "san francisco, ca..." %><br />
  </div>
  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user, placeholder: "user name..." %><br />
  </div>

  <button type="submit" class="btn">Add Spot</button>

<% end %>
</div>

