<div class="container">
<p id="notice"><%= notice %></p>

<div class="page-header">
<h1> <%= @spot.title %> </h1>
</div>
<div class="row">
<div class="span6">
<p>
<%= image_tag @spot.image.url(:medium) %>
</p>
<p>
<b>description:</b> <%= @spot.description %>
</p>
<p>
  <b>Location:</b>
  <%= @spot.location %>
</p>
<p>
  <b>User:</b>
  <%= @spot.user.username %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %>
<%= link_to 'Back', spots_path %>
<%= link_to 'Destroy', @spot, confirm: 'Are you sure?', method: :delete %>

</div>
<div class="span6">
    <p>
        <img border="0" src="<%= getMapsUrl(@spot, "300x300") %>" alt="<%= @spot.location %>" />
    </p>
</div>
</div>
</div>
